PROJECT_NAME="AI Form Helper UrFU"
API_V1_PREFIX="/api/v1"
AI_PROVIDER="gigachat"
GIGACHAT_CREDENTIALS="yMDE5YTc4MjctYjg5YS03MTQ5LTgyOTUtNjE2ZmU1NmEyZjVhOjQ0YTQ0ZTM4LTZhMTEtNDE2OC04NjI3LWIwZDkwNzkxNmIxYQ=="
GIGACHAT_SCOPE="GIGACHAT_API_PERS"
SECRET_KEY="SqG1gvLJtN5LTrJU3Sc9mdKgaZ5ujiejHb4DvcDN0KH"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
