PROJECT_NAME="AI Form Helper UrFU"
API_V1_PREFIX="/api/v1"
AI_PROVIDER="gigachat"
GIGACHAT_CREDENTIALS="GIGACHAT_API_KEY"
GIGACHAT_SCOPE="GIGACHAT_API_PERS"
SECRET_KEY="SECRED_JWT_KEY"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
